<% var
    pageTitle = "Crowdendue";
    pageId = "about";
    pageUrl = "";
    pageDescription = "Awesome site";
%>
    <% include layouts/_header %>

        <div class="container container--about">
            <% include components/_menu %>

                <% include layouts/_footer %>
        </div>