<% var
    pageTitle = "Crowdendue";
    pageId = "about";
    pageUrl = "";
    pageDescription = "Awesome site";
%>
    <% include layouts/_header %>

        <div class="container">
            <% include components/_menu %>

        </div>

        <% include layouts/_footer %>